<!-- <ul class="nav navbar-nav navbar-fixed-bottom">
  <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
  <li><a href="#">About Me</a></li>
  <li><a href="#">Skills</a></li>
  <li><a href="#">Portfolio</a></li>
  <li><a href="#">Contact</a></li>
</ul> -->
