<footer class="footer">
  <div class="container-fluid">
    <div class="col-lg-7 text-left">
      <p class="text-muted no-margin">"The only easy day was yesterday."</p>
    </div>
    <div class="col-lg-5 text-right">
      <p class="text-muted no-margin">© 2017 Paulina . Reproduction without explicit permission is prohibited.</p>
    </div>
  </div>
</footer>
