<footer class="footer">
  <div class="container-fluid text-center">
      <p class="white-text no-margin">© 2017 Paulina . Reproduction without explicit permission is prohibited.</p>
  </div>
</footer>
