
 <div class="jumbotron pink-text col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="container text-right">
    <h1>Hi, I am Paulina</h1>
    <p class="green-text">I am a full-stack developer. <br> The only developer you will ever need.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>



<!-- <div class="parallax-one"  id="about">
    <h1 class="upcased">About me</h1>
    </div> -->

<div class="container padding" id="about">
<div class="row">
<h1 class="upcased pink-text text-center margin-bottom">About me</h1>


  <div class="col-md-4">
  <a href="#" class="thumbnail">
    <img src="..." alt="...">
  </a>
        </div>


<div class="col-md-4">

<h2 class="green-text">My Story</h2>
<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
  empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


<div class="col-md-4">
  <h2 class="green-text">Hobbies</h2>
  <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
    empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>



</div>
</div>
</div>


<div class="parallax" id="skills">
  <h1 class="upcased text-center white-text shadow-text">Skills</h1>
</div>


<div class="container padding">
<div class="row">
<div class="col-md-6">

<h2>Front End</h2>
<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
  empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


<div class="col-md-6">
  <h2>Backend</h2>
  <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
    empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


  </div>
  </div>



<div class="parallax" id="portfolio">
  <h1 class="upcased text-center white-text shadow-text">Portfolio</h1>
</div>



<div class="container padding">

</div>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="parallax" id="contact">
  <h1 class="upcased text-center white-text shadow-text">Contact Me</h1>
</div>

<div class="container">
  <div class="col-md-2">
    Github
  </div>
  <div class="col-md-2">
    Facebook
  </div>
  <div class="col-md-2">
    Twitter
  </div>
  <div class="col-md-2">
    Heroku
  </div>
  <div class="col-md-2">
    Email
  </div>
  <div class="col-md-2">
    Linkedin
  </div>

</div>
