<div class="container-fluid">
  <div class="jumbotron pink-text col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container text-right">
      <h1>Hi, I am Paulina</h1>
      <p class="green-text">I am a full-stack developer. <br> The only developer you will ever need.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>


<h1 class="upcased text-center pink-text" id="about">About Me</h1>

<div class="container padding">
<div class="row">
  <div class="col-sm-4">
    <img src="https://res.cloudinary.com/dcbeoroxh/image/upload/c_crop,h_1280/v1494117384/portfolio/paulina_e_i9eere.jpg" class="img-circle center-block" style="width:15em;" alt="Image">
  </div>

  <div class="col-sm-4">
    <h2>My Story</h2>
    <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
      empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="col-sm-4">
    <h2>Hobbies</h2>
    <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
      empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>


  </div>
  </div>



<div class="parallax" id="skills">
  <h1 class="upcased text-center white-text shadow-text">Skills</h1>
</div>


<div class="container padding">
  <div class="row">
    <div class="col-md-6">
      <h2 class="well text-center">
        "My ultimate goal is to become a full-stack web developer.
        Currently my strongest point is in front-end."
      </h2>
    </div>

    <div class="col-md-6">
      <div class="icon text-center">
        <h3>Current Skills</h3>
          <a href="#" class="devicon-html5-plain-wordmark colored"></a>
          <a href="#" class="devicon-css3-plain-wordmark colored"></a>
          <a href="#" class="devicon-bootstrap-plain-wordmark colored"></a>
          <a href="#" class="devicon-sass-original colored"></a>
          <a href="#" class="devicon-ruby-plain-wordmark colored"></a>
          <a href="#" class="devicon-rails-plain-wordmark colored"></a>
        </br>
          <a href="#" class="devicon-heroku-plain-wordmark colored"></a>
          <a href="#" class="devicon-github-plain-wordmark colored"></a>
          <a href="#" class="devicon-git-plain-wordmark colored"></a>
          <a href="#" class="devicon-trello-plain-wordmark colored"></a>
          <a href="#" class="fa fa-codepen"></a>
          <img src="assets/materialized-icon.png" style="width:1.2em">

        <h3>Learning in Progress</h3>
          <a href="#" class="devicon-javascript-plain colored"></a>
          <a href="#" class="devicon-mongodb-plain-wordmark colored"></a>
          <a href="#" class="devicon-nodejs-plain-wordmark colored"></a>
          <a href="#" class="devicon-angularjs-plain-wordmark colored"></a>

      </div>
    </div>
  </div>
</div>



  <div class="parallax" id="portfolio">
    <h1 class="upcased text-center white-text shadow-text">Portfolio</h1>
  </div>


  <div class="container padding">
  <div class="row">
  <div class="col-md-6">

  <h2>Front End</h2>
  <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
    empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>


  <div class="col-md-6">
    <h2>Backend</h2>
    <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
      empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>


    </div>
    </div>
<!--

<div class="parallax" id="contact">
  <h1 class="upcased text-center white-text shadow-text">Contact Me</h1>
</div>

<div class="container padding">
  <div class="col-md-2">
    Github
  </div>
  <div class="col-md-2">
    Facebook
  </div>
  <div class="col-md-2">
    Twitter
  </div>
  <div class="col-md-2">
    Heroku
  </div>
  <div class="col-md-2">
    Email
  </div>
  <div class="col-md-2">
    Linkedin
  </div>

</div> -->

<div class="parallax" id="contact">
  <h1 class="upcased text-center white-text shadow-text">Contact</h1>
</div>


<div class="container padding">
<div class="row">
<div class="col-md-6">

<h2>Front End</h2>
<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
  empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


<div class="col-md-6">
  <h2>Backend</h2>
  <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
    empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


  </div>
  </div>
