/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body,
html {
    height: 40em;
}

.headline{
  color: #ef5285;
}

.headline-on-image{
  color: white;
  text-shadow: 1px 1px #a5dff9;
}



h1{
  margin-top: 0;
  margin-bottom: 1em;
}

h2{
  color: #60c5ba;
}

p {
    margin: 0;
}




.jumbotron{
  text-align: right;
}

.jumbotron h1 {
  color: #ef5285;
  // text-shadow: 3px 3px black;
}

.jumbotron p {
  color: #60c5ba;
  // text-shadow: 1px 1px black;
}

.navbar {
    margin-bottom: auto;
    background-color: transparent;
    border-bottom: 0;
    margin-bottom: -5em;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.jumbotron {
  height: 110%;
  margin-bottom: 0;
  background-image: url(prt02.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.parallax {
  /* Full height */
  height: 50%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}



#skills {
  /* The image used */
  background-image: url(prt01.JPG);
}

#portfolio{
      /* The image used */
      background-image: url(prt03.JPG);
}

#contact{
      /* The image used */
      background-image: url(prt06.JPG);
}

//
// .parallax-one {
//     /* The image used */
//     background-image: url(prt03.JPG);
//     /* Full height */
//     height: 50%;
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     display: flex;
//     justify-content: center;
//     /* align horizontal */
//     align-items: center;
//     /* align vertical */
// }
//
// .parallax-two {
//     /* The image used */
//     background-image: url(prt05.JPG);
//     /* Full height */
//     height: 50%;
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     display: flex;
//     justify-content: center;
//     /* align horizontal */
//     align-items: center;
//     /* align vertical */
// }
//
// .parallax-three {
//     /* The image used */
//     background-image: url(prt06.JPG);
//     /* Full height */
//     height: 50%;
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     display: flex;
//     justify-content: center;
//     /* align horizontal */
//     align-items: center;
//     /* align vertical */
// }
//
// .parallax-four {
//     /* The image used */
//     background-image: url('http://huguenotmuseum.org/wp-content/uploads/2015/03/contact-us1.jpg');
//     /* Full height */
//     height: 50%;
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     display: flex;
//     justify-content: center;
//     /* align horizontal */
//     align-items: center;
//     /* align vertical */
// }
//
//

.row {
margin: 5em;
}

// .container {
//     // padding-top: 5%;
//     // padding-bottom: 5%;
//     padding: 5%;
// }

.upcased {
    text-transform: uppercase;
}


// .text-justify {
//     text-align: justify;
// }

.thumbnail {
  height: 15em;
  margin: 2em;
}
